name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_and_test:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Prepare Artifact Name
        run: |
          ARTIFACT_NAME=email_sender${{ runner.os == "Windows" ? ".exe" : "" }}
          echo "::set-env name=ARTIFACT_NAME::$ARTIFACT_NAME"

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-binary
          path: target/release/${{ env.ARTIFACT_NAME }}
