name: Create Release

on:
  push:
    branches: [main]

jobs:
  build_and_test:
    name: Build and Test
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: Prepare Windows Artifact Name
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          echo "ARTIFACT_NAME=email_sender.exe" >> $Env:GITHUB_ENV

      - name: Prepare Non-Windows Artifact Name
        if: matrix.os != 'windows-latest'
        run: |
          echo "ARTIFACT_NAME=email_sender" >> $GITHUB_ENV

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-binary
          path: target/release/${{ env.ARTIFACT_NAME }}

  create_release:
    name: Create Release
    needs: build_and_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get package name and version
        run: |
          PACKAGE_INFO=$(cargo metadata --format-version=1 --no-deps)
          PACKAGE_NAME=$(echo "$PACKAGE_INFO" | python -c "import sys, json; print(json.load(sys.stdin)['packages'][0]['name'])")
          PACKAGE_VERSION=$(echo "$PACKAGE_INFO" | python -c "import sys, json; print(json.load(sys.stdin)['packages'][0]['version'])")
          echo "Package name: $PACKAGE_NAME"
          echo "Package version: $PACKAGE_VERSION"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_OUTPUT
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_OUTPUT
        id: package_info

      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: Linux-binary
          path: ./
      - uses: actions/download-artifact@v2
        with:
          name: macOS-binary
          path: ./
      - uses: actions/download-artifact@v2
        with:
          name: Windows-binary
          path: ./

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
        with:
          tag_name: v${{ env.PACKAGE_VERSION }}
          release_name: Release ${{ env.PACKAGE_NAME }} v${{ env.PACKAGE_VERSION }}
          draft: false
          prerelease: false

      - name: Upload Ubuntu Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./ubuntu-binary
          asset_name: email_sender-v${{ github.event.inputs.version }}-ubuntu
          asset_content_type: application/octet-stream

      - name: Upload macOS Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./macOS-binary
          asset_name: email_sender-v${{ github.event.inputs.version }}-macOS
          asset_content_type: application/octet-stream

      - name: Upload Windows Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.G_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./windows-binary
          asset_name: email_sender-v${{ github.event.inputs.version }}-windows.exe
          asset_content_type: application/octet-stream
